$sidebar-submenu-active-bgcolor: #f9f9f9;
$text-black-color: #010e22;
$text-white-color: #FEFFFE;
$text-gray2-color:#F7F7F7;
$text-green-color: #26bb8f;
$text-brown-color: #3f1c09;
$text-orange-color: #fb8000;
$text-orange-color2: #FBA800;
$text-gray-color: rgba(0, 0, 0, 0.3);
$text-gary2-color: #9e9e9e;
$text-error-color: #f36346;
$text-gray3-color: #7f7f7f;
$text-gray4-color: #b2b2b2;

$border-orange-color: #fb8000;
$border-green-color: #26bb8f;
$border-red-color: #f36346;
$border-gray-color: #b2b2b2;

$btn-orange-bgcolor: #fb8000;
$btn-light-orange-bgcolor: #f9d9b6;
$btn-light-brown-bgcolor: #e9ded1;
$btn-gray-bgcolor: #d1d1d1;
$btn-gray2-bgcolor: #f7f7f7;

$hover-bg-color: #f7f7f7;
$hover-bg-color2:rgba(255, 255, 255, 0.07);
$white: #ffffff;

$nft-card-bgcolor: #fffaf3;
$nft-radio-bgcolor: #d7c8b6;
